.frow {
  min-width: 0;
}

body {
  font-family: "Overpass Mono", monospace;
  background-color: #263238;
  color: #fff;
}

#seconds-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 0;
  background-color: #fff;
  transition: width 1s;
  opacity: 0.7;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.grid-item {
  justify-self: center;
  align-self: center;
}

.meridian-container {
  position: relative;
}

.time {
  font-size: 4.25vw;
  text-align: center;
  line-height: 100%;
}

.additional-time {
  color: #ddd;
  font-size: 2vw;
}

.meridian {
  position: absolute;
  bottom: 22%;
  right: -20%;
  color: #999;
  font-size: 1.25vw;
  line-height: 0.55;
}

.label {
  margin: 0;
  text-align: center;
  font-size: 15px;
  color: #bbb;
  text-transform: uppercase;
}

/* #swatch-time {
  color: #333;
} */
