:root {
  --font-size-lg: 4.25vw;
  --font-size-md: 2vw;
  --font-size-sm: 1vw;
}

/* XS */
@media (max-width: 767px) {
  :root {
    --font-size-lg: calc(4.25vw * 3);
    --font-size-md: calc(2vw * 3);
    --font-size-sm: calc(1vw * 3);
  }
}

body {
  font-family: "Overpass Mono", monospace;
  background-color: #263238;
  color: #fff;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

.byline {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #fff;
  font-size: 12px;
  text-decoration: none;
  opacity: 0.4;
  z-index: 1;
  transition: opacity 0.4s;
}

.byline:hover {
  opacity: 0.7;
  color: #fff;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  opacity: 0.75;
}

/* XS */
@media (max-width: 767px) {
  .grid {
    grid-template-columns: 100%;
    grid-template-rows: 25% 25%;
  }
}

.grid-item {
  justify-self: center;
  align-self: center;
}

.meridian-container {
  position: relative;
}

.time {
  font-size: var(--font-size-lg);
  text-align: center;
  line-height: 100%;
}

.additional-time {
  color: #ddd;
  font-size: var(--font-size-md);
}

.meridian {
  position: absolute;
  bottom: 22%;
  right: calc(0px - var(--font-size-sm) * 1.5);
  color: #999;
  font-size: var(--font-size-sm);
  line-height: 0.55;
}

.label {
  margin: 0;
  text-align: center;
  font-size: var(--font-size-sm);
  color: #bbb;
  text-transform: uppercase;
}

#seconds-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 33%;
  background-color: #fff;
  transition: width 1s;
  opacity: 0.7;
  animation: fade-in 10s linear;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
